In [1]:
import pyspark
from pyspark.sql import SparkSession
    
appname = 'capstone_project'
#Create spark session
spark = SparkSession.builder.appName(appname).enableHiveSupport().getOrCreate()

In [2]:
StudentCourseCompletionStatus = spark.sql("SELECT * from meenu_cap.StudentCourseCompletionStatus;")
StudentCourseCompletionStatus

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0001|   C0001|17 Feb 19|      Attended|   70|    Qualified|
|     S0298|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0296|   C0030|20 Feb 19|      Attended|   70|    Qualified|
|     S0291|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
|     S0290|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0289|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0288|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0287|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0286|   C0013| 1 Mar 19|      Attended|   85|    Qualified|
|     S0285|   C0012|28 Feb 19|      Attended|   70|    Qualified|
|     S0284|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0283|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0281|   C0008|24 Feb 19|      Attended|   70|    Qualified|
|     S0280|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0279|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0278|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0276|   C0003|19 Feb 19|      Attended|   70|    Qualified|
|     S0275|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0274|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 20 rows

In [3]:
coursedetails = spark.sql("SELECT * from meenu_cap.coursedetails;")
coursedetails

+--------+--------------------+--------------------+----------+--------------------+
|courseid|               title|          competency|complexity|          coursetype|
+--------+--------------------+--------------------+----------+--------------------+
|   C0001|Certificate in Cl...|           Technical|     Basic|               Cloud|
|   C0002|Certificate in Vi...|           Technical|     Basic|               Cloud|
|   C0003|"Diploma in Infor...| Networking and C...|  Security|               Cloud|
|   C0004|BE (Hons) in CSE ...|              Domain|  Advanced|               Cloud|
|   C0005|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0006|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0007|BCA with Microsof...|            Security|  Advanced|               Cloud|
|   C0008|BTech in Informat...|           Technical|  Advanced|               Cloud|
|   C0009|MCA with speciali...|           Technical|  Advanced|               Cloud|
|   C0010|ME in Cloud Compu...|           Technical|     Basic|               Cloud|
|   C0011|MTech Computer Sc...|           Technical|     Basic|               Cloud|
|   C0012|Bachelor’s in Com...|              Domain|     Basic|Hardware and Netw...|
|   C0013|B.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0014|BTech in IT and N...|              Domain|     Basic|Hardware and Netw...|
|   C0015|BS in Hardware an...|              Domain|     Basic|Hardware and Netw...|
|   C0016|BSc in Networking...|              Domain|     Basic|Hardware and Netw...|
|   C0017|M.Tech in Network...|              Domain|  Advanced|Hardware and Netw...|
|   C0018|M.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0019|MSc in Wireless N...|              Domain|  Advanced|Hardware and Netw...|
|   C0020|Diploma in Comput...|              Domain|  Advanced|Hardware and Netw...|
+--------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [4]:
#0.	Find the total number of students per result category
s_res = StudentCourseCompletionStatus.groupBy("result").count()
s_res

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [5]:
#1.	Find the total number of students absent 
s_abs = StudentCourseCompletionStatus.where(StudentCourseCompletionStatus['attendedstatus']=='Absent')
s_abs

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0297|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0290|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0289|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0288|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0287|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0284|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0283|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0280|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0279|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0278|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0275|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0274|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0273|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0272|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0269|   C0011|27 Feb 19|        Absent|    0|Not Qualified|
|     S0268|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0265|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0264|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0263|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0260|   C0002|18 Feb 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 20 rows

In [6]:
#2.	Find the maximum, minimum and average marks scored by students
s_max = StudentCourseCompletionStatus.agg({'marks': 'max'})
s_max

+----------+
|max(marks)|
+----------+
|        92|
+----------+

In [7]:
#2.	Find the maximum, minimum and average marks scored by students
s_min = StudentCourseCompletionStatus.agg({'marks': 'min'})
s_min

+----------+
|min(marks)|
+----------+
|         0|
+----------+

In [8]:
#2.	Find the maximum, minimum and average marks scored by students
s_avg = StudentCourseCompletionStatus.agg({'marks': 'avg'})
s_avg

+------------------+
|        avg(marks)|
+------------------+
|40.013333333333335|
+------------------+